doctype html
html(lang="en")
  head
    title LRCRB
    link(rel='stylesheet', href='/stylesheets/style.css')
    // jump to middle of landing page.
    script.
      window.addEventListener("load", () => {
        window.scrollTo({
          top: (document.body.scrollHeight - window.innerHeight) / 2,
          behavior: "instant"
        });
      });
    script.
      // toggle modal open close
      const eventHandler = (event) => {
        const modal = document.querySelector('.modal');
        const modalStyle = window.getComputedStyle(modal);
        if (modalStyle.display === "none") modal.style.display = "block";
        else modal.style.display = "none";
        window.removeEventListener("click", eventHandler);
      }
      window.addEventListener("click", eventHandler);

  body
    .modal
      .modal-content
        .long-form-text
          p this is my will and testament
          p my father died without one and in the unfortunate event that i 
          p suffer death prematurely i want to be prepared
          p i do not have anybody dependent on me that needs this
          p but it is necessary for myself
          p none of my blood relatives are to be permitted any contact with my remains
          p my estate is to be liquidated for any costs
          p my unredacted journals are to be uploaded on lrcrb.com
          p they will be accessible in an unprotected folder on a hard drive
          p that is among my belongings along with details for doing so
          p my vital organs are to be buried by the sea
          p the rest of my body is to be cremated and spread in a land ive never seen
          p the atlantic and alaska respectively would suffice
          p my executors as of 2024 are my best friends
          p at a minimum i want my true wishes known
          p by anybody who involves themself in my end
          p should this will fail in being executed
          p so it goes
          p godspeed
        .pills
          button(id="red", type="button")
            a(href="/red", role="button")
          button(id="white", type="button")
            a(href="/white", role="button")
          button(id="blue", type="button")
            a(href="/blue", role="button")

    .svg
      svg(viewBox="0 0 1 1")

        path(d="M 0 0 L 0.5 0.5 L 0 0.5 Z", fill="#B31942")
        path(d="M 0 0 L 0.5 0.5 L 0.5 0 Z", fill="#B31942")
        path(d="M 1 0 L 0.5 0.5 L 0.5 0 Z", fill="#0A3161")
        path(d="M 1 0 L 0.5 0.5 L 1 0.5 Z", fill="#0A3161")

        path(d="M 0 1 L 0.5 0.5 L 0 0.5 Z", fill="#B31942")
        path(d="M 0 1 L 0.5 0.5 L 0.5 1 Z", fill="#B31942")
        path(d="M 1 1 L 0.5 0.5 L 1 0.5 Z", fill="#0A3161")
        path(d="M 1 1 L 0.5 0.5 L 0.5 1 Z", fill="#0A3161")

        path(d="M 0 0.5 H 1", stroke="#000", stroke-width="0.1" )
        path(d="M 0.5 0 V 1", fill="#f00", stroke="#000", stroke-width="0.1" )
        path(d="M 0 0 L 1 1", fill="#f00", stroke="#000", stroke-width="0.1")
        path(d="M 1 0 L 0 1", fill="#f00", stroke="#000", stroke-width="0.1" )
                  
        circle(cx="0.5" cy="0.5" r="0.1" fill="white")
        circle(cx="0.5" cy="0.5" r="0.07" fill="#42b319" id="iris")

        text(x="0.5" y="0.5" font-family="Perm-Marker" text-anchor="middle" dominant-baseline="central" font-size="0.25", fill="gray") LRCRB

        text(x="0.5" y="0.125" font-family="Perm-Marker" text-anchor="middle" dominant-baseline="central" font-size="0.25", fill="gray") L
        text(x="0.5" y="0.31" font-family="Perm-Marker" text-anchor="middle" dominant-baseline="central" font-size="0.25", fill="gray") R
        text(x="0.5" y="0.69" font-family="Perm-Marker" text-anchor="middle" dominant-baseline="central" font-size="0.25", fill="gray") R
        text(x="0.5" y="0.87" font-family="Perm-Marker" text-anchor="middle" dominant-baseline="central" font-size="0.25", fill="gray") B









