doctype html
html(lang="en")
  head
    title LRCRB
    link(rel='stylesheet', href='/stylesheets/style.css')
    // jump to middle of landing page.
    script.
      window.addEventListener("load", () => {
        window.scrollTo({
          top: (document.body.scrollHeight - window.innerHeight) / 2,
          behavior: "instant"
        });
      });
    script.
      // toggle modal open close
      const eventHandler = (event) => {
        const modal = document.querySelector('.modal');
        const modalStyle = window.getComputedStyle(modal);
        if (modalStyle.display === "none") modal.style.display = "block";
        else modal.style.display = "none";
        window.removeEventListener("click", eventHandler);
      }
      window.addEventListener("click", eventHandler);

  body
    .modal
      .modal-content
        .long-form-text
          h2 a woke in sleep
          p when i was 18 years old i was incredibly idealistic and hopeful
          p i was top of my class in high school and recently earned about a $200K
          P merit scholarship to Boston College it was a thing of luck i assume 
          p as most great things are but i had poured myself into school and activities
          p like science fair and cross country and quiz bowl and volunteering
          p i wondered what could improve conditions of the world and i had grown 
          p up in a desperate and impoverished situation as outlined more fully in the 
          p red pill diary in rural america if you are poor everybody and everything seems 
          p poor because theres just not that much exposure to anything except poverty 
          p when youre in it in the countryside transportation becomes like gold as gallons 
          p of gas are chewed up and so i lived a largely segregated life i was lucky to 
          p make one or two lifelong friends but i could never have them over as
          p my house was not a place i was comfortable in there wasnt any food or
          p activities for me besides browsing the internet and it wasnt very clean either
          p nevertheless i somehow came upon the idea that if only our schools were better 
          p then our people would be better and this was a fundamental failure in my
          p understanding that drove me to pursue education as an interest in college
          p there were a lot of politically ambitious students in that school 
          p and i felt some ambition myself and found public service to be a good idea 
          p so i joined a group called students for education reform where i quickly 
          p involved myself more and more heavily and by the second year i was doing 
          p university wide executive functions and by the middle of that year 
          p i had taken over regional executive functions, known as a state captain 
          p this was in 2014 and the organization had funding that allowed its leaders 
          p and promising members to congregate together several times a year
          p our goals were to campaign for political changes to improve the education
          p system and the group involved heavily college students who were interested 
          p in becoming teachers specifically the group was ninety percent or more women 
          p and gay men and that was not a problem for me because i saw both categories
          p of people as equal in rights my oldest friend in this world came out to me 
          p as gay sometime when i was a senior in high school and although i was 
          p shocked i had nothing but respect and were still friends to this day
          p he has even offered so much as to invite me into his home if i ever 
          p need a place to stay hes like an older brother to me the story of the blue 
          p pill is about how i discovered woke ideology in college as a kid from the
          p south who realized some people were racist but i was raised to be colorblind 
          p i poured hours and hours of free labor into organizing events and demonstrations 
          p that i inspired many of our members to partake in i was a poor white and felt 
          p like the important thing to focus on was economic and not racial classes
          p i also studied sociology at this school and when my senior thesis came around 
          p i found myself in a class of about eleven women where i was the only guy 
          p many of them were doing studies on gender and discrimination while i
          p was studying smartphones and their impact on social life on campus 
          p for the most part i did believe at the time that women and minorities were 
          p heavily discriminated against and that white privilege existed i had effectively 
          p left my parents religion and somehow joined a new one where what i said and
          p thought made me either a good person or a bad person and if anybody found out
          p i was a bad person then disastrous consequences would result or so the thinking 
          p went so i went through extreme lengths of intellectual servitude to fall in line
          p although i was surrounded by women who themselves confessed feelings for me
          p crushing on me was a phase they all seemed to have gone through i actually 
          p only ever had one intimate moment with a member at one of the conventions 
          p she presented as tipsy and i helped her back to her room and we went into
          p the room together and she gave me the hand job of a lifetime the handjob was
          p so good that i now think she was not as tipsy as she made it seem
          p in fact at times it felt like a sting operation but the next morning
          p we all met for breakfast and continued business as usual unfortunately she sort 
          p of dropped out of her college for some reason and id love to hear her side of the 
          p story now she was promiscuous from what i understand needless to say i was 
          p an idealist and i was in this situation because of commitment to a cause 
          p i legitimately thought i could help people and help the world if only 
          p we could pass better laws we campaigned for legislation to remove a 
          p massachusetts law that prohibited teaching immigrant kids in their native 
          p language the people who funded sfer also thought this was a good cause 
          p and lo and behold years later the liberal statehouse overturned things 
          p and we thought we had a positive effect on it when all was said and done 
          p by this point things had transpired where i felt like i was being looked 
          p at differently because i was a straight white male and before my senior year 
          p i told the leadership and peers that i wouldnt be leading anymore 
          p and that somebody else should if it mattered so much and that i was white 
          p so my opinion really didnt matter to them on issues they tried and tried 
          p to persuade me to stay obviously cuz nobody else could do all the work for free 
          p and anyway i stopped keeping up with them after that point one of my peer leaders 
          p was adamant that boston was one of the most racist cities in america
          p and there was no data points or anything that could convince her otherwise 
          p especially being spoken out of the mouth of a white male
          p after all this i eventually became a huge fan of bernie sanders who i believed 
          p was of the same spirit as me that economic divides can unite us while 
          p racial divides are not so good to focus on but my current thinking is that 
          p the only thing that matters for education and schools is the people on the ground 
          p it doesnt matter what the law is it matters who the parents are and who the
          p teachers are the only thing the law should be doing is giving people more freedom
          p to choose who their teachers are in retrospect i wonder how there was so much money
          p spent for this group to exist nationally and ultimately i feel like i existed
          p on college campuses at a time when money was being poured into them to facilitate 
          p woke ideology of course i immersed myself in it more than others as i needed a new 
          p religion to replace the one i lost by breaking with my parents prosperity gospel
          p they flew hundreds of students to a convention several times a year and had paid staff
          p of about ten or so and they were so interested in converting ideological students 
          p into activists and i thought it was cool i got listed as an author on an op-ed that 
          p got published in the boston globe owing again to media strings that could be pulled 
          p by our donors and i organized small rallys and meeetings with legislators at the
          p state house that looking back seem like a bunch of lip service for political ends 
          p i find it insane that woke people were asking a white male to be their leader 
          p but in reality i think they just wanted me to do all the organizational work 
          p knowing that my opinion was castrated due to being white male
          p to be continued
        .pills
          button(id="black", type="button")
            a(href="/black", role="button")
          button(id="white", type="button")
            a(href="/white", role="button")
          button(id="blue", type="button")
            a(href="/blue", role="button")

    .svg
      svg(viewBox="0 0 1 1")

        path(d="M 0 0 L 0.5 0.5 L 0 0.5 Z", fill="#B31942")
        path(d="M 0 0 L 0.5 0.5 L 0.5 0 Z", fill="#B31942")
        path(d="M 1 0 L 0.5 0.5 L 0.5 0 Z", fill="#0A3161")
        path(d="M 1 0 L 0.5 0.5 L 1 0.5 Z", fill="#0A3161")

        path(d="M 0 1 L 0.5 0.5 L 0 0.5 Z", fill="#B31942")
        path(d="M 0 1 L 0.5 0.5 L 0.5 1 Z", fill="#B31942")
        path(d="M 1 1 L 0.5 0.5 L 1 0.5 Z", fill="#0A3161")
        path(d="M 1 1 L 0.5 0.5 L 0.5 1 Z", fill="#0A3161")

        path(d="M 0 0.5 H 1", stroke="#000", stroke-width="0.1" )
        path(d="M 0.5 0 V 1", fill="#f00", stroke="#000", stroke-width="0.1" )
        path(d="M 0 0 L 1 1", fill="#f00", stroke="#000", stroke-width="0.1")
        path(d="M 1 0 L 0 1", fill="#f00", stroke="#000", stroke-width="0.1" )
                  
        circle(cx="0.5" cy="0.5" r="0.1" fill="white")
        circle(cx="0.5" cy="0.5" r="0.07" fill="#42b319" id="iris")

        text(x="0.5" y="0.5" font-family="Perm-Marker" text-anchor="middle" dominant-baseline="central" font-size="0.25", fill="gray") LRCRB

        text(x="0.5" y="0.125" font-family="Perm-Marker" text-anchor="middle" dominant-baseline="central" font-size="0.25", fill="gray") L
        text(x="0.5" y="0.31" font-family="Perm-Marker" text-anchor="middle" dominant-baseline="central" font-size="0.25", fill="gray") R
        text(x="0.5" y="0.69" font-family="Perm-Marker" text-anchor="middle" dominant-baseline="central" font-size="0.25", fill="gray") R
        text(x="0.5" y="0.87" font-family="Perm-Marker" text-anchor="middle" dominant-baseline="central" font-size="0.25", fill="gray") B









