extends layout

block content
  h1 The Lime Rick on a Corona Roll, Bitch!
  p In the age of coronavirus, the Lime Rick was born in a volcano of fire and ash.
  p The Lime Rick is the current identity of an only son named Nathan Alexander Schwan.
  p NAS4 (RIP AS3, my father) took all the memories and emotions of his life and synthesized them into a form of expressive protest.
  p The world I was born into is a world of evil people parading as good.
  p It is a story of good people being slaughtered by evil people without any violence at all.
  p It is a story of evil people who think they are good and good people who aren't even aware of evil.
  p It is a story that I'm surrendering my life to. Nothing else is important to me.
  p My hope is that if I can synthesize what I've experienced somebody else might be saved from a similar situation.
