extends layout

block content
  h1= "The Lime Rick on a Corona Roll, Bitch!"
  p "In the age of coronavirus, the Lime Rick was born in a volcano of fire and ash."

block extended 
  p "The Lime Rick is the current identity of an only son named Nathan Alexander Schwan."
  p "NAS4 (a moniker saluting my father, AS3) took all the memories and emotions of his life\n and synthesized them into a form of expressive protest against the world he was born into."
  p "The world I was born into is a world of evil people parading as good."
  p "It is a story of good people being slaughtered by evil people without any violence at all."
  p "It is a story of evil people who think they are good"
  p "It is a story that needs to be told."
  p "I've been wondering what my purpose is in life, and nothing has ever made me feel complete like the mission of telling this story."
