doctype html
html(lang="en")
  head
    title Four Quadrants with Circle
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    main.container
      .quadrants
        .quadrant.quadrant-top-left(style="background-color: #f06")
        .quadrant.quadrant-top-right(style="background-color: #09f")
        .quadrant.quadrant-bottom-left(style="background-color: #6c0")
        .quadrant.quadrant-bottom-right(style="background-color: #f90")
      .circle-overlay(style="background-color: #fff")