doctype html
html(lang="en")
  head
    title LRCRB
    link(rel='stylesheet', href='/stylesheets/style.css')
    // jump to middle of landing page.
    script.
      window.addEventListener("load", () => {
        window.scrollTo({
          top: (document.body.scrollHeight - window.innerHeight) / 2,
          behavior: "instant"
        });
      });
    script.
      // toggle modal open close
      const eventHandler = (event) => {
        const modal = document.querySelector('.modal');
        const modalStyle = window.getComputedStyle(modal);
        if (modalStyle.display === "none") modal.style.display = "block";
        else modal.style.display = "none";
        window.removeEventListener("click", eventHandler);
      }
      window.addEventListener("click", eventHandler);

  body
    .modal
      .modal-content
        .long-form-text
          h2 a wolf in sheep
          p when i was a child i remember being happy aside from not having a brother
          p its like i knew from a young age what my tragic destiny was
          p at age 5 i remember our kitchen annex room being our classroom 
          p my mother was our teacher in a homeschool setting there was textbooks 
          p to study and i loved learning i remember learning to read and write 
          p my mother held my hand and helped me sound out the words
          p we had plenty but what i didnt know was that it was all being paid for 
          p on credit my father was working as an investment advisor for primerica
          p his office was down the road from our home and on rare occassions i 
          p remember very conveniently going to his office and using his late 90s tv 
          p to watch tv while he worked there was an af am man who also worked there 
          p i remember riding in the volvo 240 as my dad listened to rush limbaugh 
          p one day we called into a talk show and he fed me the answer and we won a
          p gift card to a bar and grill i also remember going to the gym with him but
          p the gym didnt let me workout with him they put me in a daycare that sucked 
          p we had a basketball hoop in the driveway and when it rained heavily in southwest 
          p florida the gutters would fill with water and sometimes wed use a tarp and soap
          p and create our own slip and slide but we also had a pool in the back oddly 
          p enough we paid for swimming lessons from a neighbor who went to baptist
          p church with us eventually i was put into soccer leagues that i loved 
          p but they were co ed and i was young and eventually i grew taller and i got 
          p pigeonholed into that even though my skill for soccer was clearly greater
          p a baseball glove was bought for my birthday one year but never did my dad 
          p play catch with me it was exactly at that time that he put on an immense amount 
          p of weight and went from a healthy person to a sick person our debts became 
          p untenable and my dad yelled a lot aroundd the house corporal punishment was not 
          p emphasized at this time as my mother would use tactics such as soap in the mouth 
          p or grabbinng of the ears or slapping in the face if she was especially upset 
          p eventually a paddle was created but it wasnt celebrated and usually the justice was 
          p unfair and resulting more from a short temper on the part of my mother who would 
          p threaten constantly to call dad and order up an asswhooping for when he got home 
          p one time i took a shower and washed my hair but when i came out of the shower my 
          p mother smelled my hair and said i didnt i refused to then lie out of expediency and 
          p i got whooped by my father until i confessed to a crime i didnt commit
          p one time my sister laura was spanked with significant bruising for refusing to cave 
          p in a similar situation all the while my mother watched on and completely consented to
          p the punishments often encouraging my dad to hit harder
          p my father also began to have a short temper and just wanted to watch tv after work 
          p and not be bothered while at home youd ask him a simple question and hed snap at you 
          p i thought he was evil and harbored significant resentment about this until he died of
          p a heart attack around 60yo after his death some of my best memories were just watching 
          p sci fi with him like stargate or star trek i also remember before things got bad we 
          p would build small crafts out of wood and even entered a derby race with a sculpted 
          p vehicle in the local church we placed 3rd we would occassionally go to home depot 
          p on saturdays cuz theyd have free activities for young families
          p things progressed and i would tell my mother i was bored as my schooling and being
          p mostly alone at home all day was insufficient stimulation for my young mind
          p especially without brothers although my youngest sister took a slight interest in
          p things that i did like video games but she wasnt as capable as a brother wouldve
          p been and i had nobody i could seriously rough house with i became smarter than my mother
          p around age 8 or so and was simply reading the textbooks and telling her i was done 
          p while she spent all day with her daughters especially one that was considered 
          p to need special help pronouncing things in a dyslexic manner and getting speech therapy 
          p this pattern would continue we were in a homeschool group that would meet at a park 
          p twice a month and occassionally do other activities outside the park but
          p as credit mounted we could do less and less one time i accidentally locked the keys 
          p in our car and my father was livid because he had to pay a locksmith to come get it 
          p this was while we were at a recreational event and my mother said he demanded that i
          p couldnt play as punishment so that sets the scene a little bit other points of note 
          p are that my mother told us that we were homeschooled because regular schools were 
          p evil places where kids become bad or face other dangers she pointed to my dads 
          p first daughter from another marriage who had went thru an emo phase and she used 
          p whatever rationalization she needed to so that we stayed out of public school 
          p and under her control every day i enjoyed going to church back then as there 
          p was significant programming for children and i had a lot of friends
          p i remember being about 6 hearing my mother cry in the bedroom and went in 
          p to see what was wrong and she said we were being foreclosed and going to lose
          p the house and somehow i blamed my dad for this so i told her to divorce him 
          p and she changed the subject then having accomplished her psyop of poisoning her 
          p kids against their father implicating him in an original sin that she was equally
          p involved in for instance she was a homemaker but she showed no concern for costs 
          p i bet this is because she grew up in a wealthy family in aristrocratic europe 
          p reminiscing about her horses and castles sometimes now she was being cutoff from 
          p her parents financial support but she never learned how to preserve money 
          p so my dad certainly felt a monstrous burden that she made by keeping us homeschooled 
          p and not having a job herself she then made that whole arrangement seem like my
          p fathers doing and this made it very hard for me to have any relationship with him
          p especially when i was 9 things changed my mother had met somebody in the homeschool 
          p group who told her of great things about the bible and how it means that we should 
          p get everything we want or desire and so she covertly joined a very small church headed 
          p by a charismatic preacher named steve harris when my father found out he was beside
          p himself more correctly than not interpreting it as a cult of sorts he left a note 
          p on the computer that i was not allowed to read but from what i can recall it
          p stated he was in a suicidal state and that things could not go on like they were 
          p my mother called her minister to come over and talk to him and convince him 
          p that it was not a cult after a long sitdown and bible beating my mom 
          p and dad came out together and decided to leave the baptist church and join 
          p this prosperity gospel cult that had more women than men in it and in which
          p basically the preacher made himself out to be some alpha guy who made crude jokes 
          p at times but got away with it while my father a few other husbands were forced into 
          p biblical cuckdom being taught that they were the head of their households and should 
          p be fed first by the wife at dinner for instance the minister would frequently 
          p receive massages from his wife and at least one other woman in the congregation 
          p sometimes right after preaching he supposedly had some injuries from his time in the
          p army years later his family posted videos of him having seizures and heart stents 
          p but who knows what kind of con that was all about steve had two daughters from a previous
          p marriage and his wife mary had one son and steve would physically torment the son 
          p if he at all interacted with the daughters in a rough manner i remember one time at my 
          p house the youngest daughter came crying to her dad that sam had hit her or something 
          p and steve came out and grabbed sam by the throat and held him against the wall 
          p saying he should never touch them again he had an interesting sense of dominance
          p for sure but this was a common theme in my house even as my sisters could just
          p claim that i hurt them for me to get in trouble they werent tough at all 
          p you could tap them theyd start crying and id get in trouble i cant imagine how frequent 
          p this practice is in households with more girls than boys but it certainly is not fair 
          p and perhaps leads to grown women behaving in similar ways owing to our isolation at home 
          p with little activities planned by our mother and most attention going to our
          p sister who wed soon find out was the favorite i ended up making out with my older sister
          p on about 5 occassions to see how it felt this was something we both wanted to do 
          p and she would ask to do it more than i would we were enamored by seeing french 
          p kissing on tv and if we werent isolated im sure we would have our first kisses 
          p with people not in our own family like regular people and we stopped
          p cuz we realized how gross it was but never did my mother punish us physically for it 
          p many things she did have been called into question with the full story in place
          p for instance she saw things like this that were clearly manifestations of
          p being isolated and bored and not once did she consider letting us go to school
          p i begged to go but never allowed until my mother got her ultimate way
          p which was to relocate our family to a rural area where should could play cowgirl
          p with horses and lands that we could not afford after my father died she denied 
          p all responsibility for anything and claimed it was all my dads work
          p she set him up she set me up and now im just writing about it cuz 
          p theres no way i can go on without some record
          p i hope you can tell now that im hiding nothing as i expose the deepest and darkest
          p secrets of my past that the average dude would never tell anybody my purpose here 
          p is to tell everything and hopefully come to some kind of advancement from it all
          p to be continued
        .pills
          button(id="black", type="button")
            a(href="/black", role="button")
          button(id="white", type="button")
            a(href="/white", role="button")
          button(id="blue", type="button")
            a(href="/blue", role="button")

    .svg
      svg(viewBox="0 0 1 1")

        path(d="M 0 0 L 0.5 0.5 L 0 0.5 Z", fill="#B31942")
        path(d="M 0 0 L 0.5 0.5 L 0.5 0 Z", fill="#B31942")
        path(d="M 1 0 L 0.5 0.5 L 0.5 0 Z", fill="#0A3161")
        path(d="M 1 0 L 0.5 0.5 L 1 0.5 Z", fill="#0A3161")

        path(d="M 0 1 L 0.5 0.5 L 0 0.5 Z", fill="#B31942")
        path(d="M 0 1 L 0.5 0.5 L 0.5 1 Z", fill="#B31942")
        path(d="M 1 1 L 0.5 0.5 L 1 0.5 Z", fill="#0A3161")
        path(d="M 1 1 L 0.5 0.5 L 0.5 1 Z", fill="#0A3161")

        path(d="M 0 0.5 H 1", stroke="#000", stroke-width="0.1" )
        path(d="M 0.5 0 V 1", fill="#f00", stroke="#000", stroke-width="0.1" )
        path(d="M 0 0 L 1 1", fill="#f00", stroke="#000", stroke-width="0.1")
        path(d="M 1 0 L 0 1", fill="#f00", stroke="#000", stroke-width="0.1" )
                  
        circle(cx="0.5" cy="0.5" r="0.1" fill="white")
        circle(cx="0.5" cy="0.5" r="0.07" fill="#42b319" id="iris")

        text(x="0.5" y="0.5" font-family="Perm-Marker" text-anchor="middle" dominant-baseline="central" font-size="0.25", fill="gray") LRCRB

        text(x="0.5" y="0.125" font-family="Perm-Marker" text-anchor="middle" dominant-baseline="central" font-size="0.25", fill="gray") L
        text(x="0.5" y="0.31" font-family="Perm-Marker" text-anchor="middle" dominant-baseline="central" font-size="0.25", fill="gray") R
        text(x="0.5" y="0.69" font-family="Perm-Marker" text-anchor="middle" dominant-baseline="central" font-size="0.25", fill="gray") R
        text(x="0.5" y="0.87" font-family="Perm-Marker" text-anchor="middle" dominant-baseline="central" font-size="0.25", fill="gray") B









