doctype html
html(lang="en")
  head
    title LRCRB
    link(rel='stylesheet', href='/stylesheets/style.css')
    // jump to middle of landing page.
    script.
      window.addEventListener("load", () => {
        window.scrollTo({
          top: (document.body.scrollHeight - window.innerHeight) / 2,
          behavior: "instant"
        });
      });
    script.
      // toggle modal open close
      const eventHandler = (event) => {
        const modal = document.querySelector('.modal');
        const modalStyle = window.getComputedStyle(modal);
        if (modalStyle.display === "none") {
          document.body.style.overflow = 'hidden';
          modal.style.display = "block";
        }
        else {
          document.body.style.overflow = 'auto';
          modal.style.display = "none";
        }
        window.removeEventListener("click", eventHandler);
      }
      window.addEventListener("click", eventHandler);

  body
    .modal
      .modal-content
        .long-form-text
          p what i propose to do is narrate two parables concerning 
          p ideology, religion, politics, family, and community 
          p and the role humans play as chefs delicately balancing
          p all in daily life in order to create an effect that is
          p healthy, pleasant, and satisfying given natural circumstances
          p i will nominate one story to be the red and one the blue pill 
          p however neither leads to ignorance or enlightenment 
          p only in combination can we see some scratching of the truth
          p and potentially grant ourselves a higher likelihood of avoiding 
          p the disease of behaviors and decisions that enslave or free
          p in the face of our true master which is the passing of time
          p and the range of outcomes that our masters can force upon us
          p it is true that many of us are poison and few are immune
          p as we all have differences in genetics, physics, and psyches
          p for reasons i do not fully understand my journey in this life 
          p has traversed the subtle geographies of these tokens
          p i wondered as a boy what my purpose was and dreamed of 
          p such things as pursuing the olympics, medicine, law, or space
          p as it turns out i believe now that my destiny was simply to exist 
          p observe and offer careful contributions to the daily menagerie of
          p the great stage act we all find ourselves thrust into
          p ive now reached an age where i have a chance to synthesize
          p what i know into a useful totem of our culture 
          p the task before me is daunting as i have always harbored 
          p doubts in my own abilities owing to numerous failures
          p yet the truth is a pursuit more valuable than any cosmetic
          p and is a mountain whose top has insufficient oxygen for survival
          p which is why we must make use of technology to achieve
          p my hope is that happiness in truth is reachable for all
          p but hopes are reserved for instances of impossibilities 
          p every day the world provides examples of the wretchedness 
          p on a massively contested spinning ball flying through a
          p vast chasm of sifting nothingness illuminated by physical laws 
          p that themselves suggest futility given our human limitations  
          p i write to extend my reach in time and space and i wonder what
          p my ancestors have written or documented that is now lost
          p what they have given me is a codex that is excruciatingly 
          p difficult to interpret given the tools of memory and logic 
          p aided by inspiring technological advancements in succession
          p of the age we find ourselves in when were not dreaming 
          p please join me in this pursuit and let us achieve something 
          p that is greater than the sum of our parts you know how to find me 
          p because i am not anonymous instead i am transparent to a fault 
          p it makes me vulnerable but also makes me strong let us build 
          p a better world simply by connecting the dots of our entropy
          p be an individual so that we can be a community of the highest order
        .pills
          button(id="red", type="button")
              a(href="/red", role="button")
          button(id="black", type="button")
              a(href="/black", role="button")
          button(id="blue", type="button")
              a(href="/blue", role="button")

    .svg
      svg(viewBox="0 0 1 1")

        path(d="M 0 0 L 0.5 0.5 L 0 0.5 Z", fill="#B31942")
        path(d="M 0 0 L 0.5 0.5 L 0.5 0 Z", fill="#B31942")
        path(d="M 1 0 L 0.5 0.5 L 0.5 0 Z", fill="#0A3161")
        path(d="M 1 0 L 0.5 0.5 L 1 0.5 Z", fill="#0A3161")

        path(d="M 0 1 L 0.5 0.5 L 0 0.5 Z", fill="#B31942")
        path(d="M 0 1 L 0.5 0.5 L 0.5 1 Z", fill="#B31942")
        path(d="M 1 1 L 0.5 0.5 L 1 0.5 Z", fill="#0A3161")
        path(d="M 1 1 L 0.5 0.5 L 0.5 1 Z", fill="#0A3161")

        path(d="M 0 0.5 H 1", stroke="#000", stroke-width="0.1" )
        path(d="M 0.5 0 V 1", fill="#f00", stroke="#000", stroke-width="0.1" )
        path(d="M 0 0 L 1 1", fill="#f00", stroke="#000", stroke-width="0.1")
        path(d="M 1 0 L 0 1", fill="#f00", stroke="#000", stroke-width="0.1" )
                  
        circle(cx="0.5" cy="0.5" r="0.1" fill="white")
        circle(cx="0.5" cy="0.5" r="0.07" fill="#42b319" id="iris")

        text(x="0.5" y="0.5" font-family="Perm-Marker" text-anchor="middle" dominant-baseline="central" font-size="0.25", fill="gray") LRCRB

        text(x="0.5" y="0.125" font-family="Perm-Marker" text-anchor="middle" dominant-baseline="central" font-size="0.25", fill="gray") L
        text(x="0.5" y="0.31" font-family="Perm-Marker" text-anchor="middle" dominant-baseline="central" font-size="0.25", fill="gray") R
        text(x="0.5" y="0.69" font-family="Perm-Marker" text-anchor="middle" dominant-baseline="central" font-size="0.25", fill="gray") R
        text(x="0.5" y="0.87" font-family="Perm-Marker" text-anchor="middle" dominant-baseline="central" font-size="0.25", fill="gray") B









