body {
  margin: 0;
}

@font-face {
  font-family: 'Perm-Marker';
  src: url('/fonts/Perm-Marker.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000030;
  z-index: 1000;
 }

 .modal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
  margin: 0;
  padding: 5vh;
  width: 65vw;
  height: 65vh;
  border-radius: 5vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1vh dashed gray;
 }

 .long-form-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
 }

 /* .long-form-text::-webkit-scrollbar {
  display: none;
 }
 */

 ::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  display: none;
}

 .modal-content p {
  color: white;
  font-family: 'Lexend';
  margin: 0.5vh;
  padding: 0;
 }

 .pills {
  display:flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
 }

 .pills button {
  display: flex;
  margin: 2%;
  width: 4vw;
  height: 2vw;
  background-color: white;
  border-radius: 1vw;
  border: 0.2vw solid #42b319;
 }

 .pills button a {
  flex-basis: 100%;
  height: 100%;
}

 #red {
  background-color: #B31942;
 }

 #blue {
  background-color: #0A3161
 }

 #black {
  background-color: black;
 }

 #white {
  background-color: white;
 }
 